html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  font-size: 14px;
}
@media (max-width: 601px) {

  .logo-image {
    max-width: 200px;
  }
}

/* margin and padding bootstrap */
.m-0 {
  margin: 0!important
}

.mt-0,.my-0 {
  margin-top: 0!important
}

.mr-0,.mx-0 {
  margin-right: 0!important
}

.mb-0,.my-0 {
  margin-bottom: 0!important
}

.ml-0,.mx-0 {
  margin-left: 0!important
}

.m-1 {
  margin: .25rem!important
}

.mt-1,.my-1 {
  margin-top: .25rem!important
}

.mr-1,.mx-1 {
  margin-right: .25rem!important
}

.mb-1,.my-1 {
  margin-bottom: .25rem!important
}

.ml-1,.mx-1 {
  margin-left: .25rem!important
}

.m-2 {
  margin: .5rem!important
}

.mt-2,.my-2 {
  margin-top: .5rem!important
}

.mr-2,.mx-2 {
  margin-right: .5rem!important
}

.mb-2,.my-2 {
  margin-bottom: .5rem!important
}

.ml-2,.mx-2 {
  margin-left: .5rem!important
}

.m-3 {
  margin: 1rem!important
}

.mt-3,.my-3 {
  margin-top: 1rem!important
}

.mr-3,.mx-3 {
  margin-right: 1rem!important
}

.mb-3,.my-3 {
  margin-bottom: 1rem!important
}

.ml-3,.mx-3 {
  margin-left: 1rem!important
}

.m-4 {
  margin: 1.5rem!important
}

.mt-4,.my-4 {
  margin-top: 1.5rem!important
}

.mr-4,.mx-4 {
  margin-right: 1.5rem!important
}

.mb-4,.my-4 {
  margin-bottom: 1.5rem!important
}

.ml-4,.mx-4 {
  margin-left: 1.5rem!important
}

.m-5 {
  margin: 3rem!important
}

.mt-5,.my-5 {
  margin-top: 3rem!important
}

.mr-5,.mx-5 {
  margin-right: 3rem!important
}

.mb-5,.my-5 {
  margin-bottom: 3rem!important
}

.ml-5,.mx-5 {
  margin-left: 3rem!important
}

.p-0 {
  padding: 0!important
}

.pt-0,.py-0 {
  padding-top: 0!important
}

.pr-0,.px-0 {
  padding-right: 0!important
}

.pb-0,.py-0 {
  padding-bottom: 0!important
}

.pl-0,.px-0 {
  padding-left: 0!important
}

.p-1 {
  padding: .25rem!important
}

.pt-1,.py-1 {
  padding-top: .25rem!important
}

.pr-1,.px-1 {
  padding-right: .25rem!important
}

.pb-1,.py-1 {
  padding-bottom: .25rem!important
}

.pl-1,.px-1 {
  padding-left: .25rem!important
}

.p-2 {
  padding: .5rem!important
}

.pt-2,.py-2 {
  padding-top: .5rem!important
}

.pr-2,.px-2 {
  padding-right: .5rem!important
}

.pb-2,.py-2 {
  padding-bottom: .5rem!important
}

.pl-2,.px-2 {
  padding-left: .5rem!important
}

.p-3 {
  padding: 1rem!important
}

.pt-3,.py-3 {
  padding-top: 1rem!important
}

.pr-3,.px-3 {
  padding-right: 1rem!important
}

.pb-3,.py-3 {
  padding-bottom: 1rem!important
}

.pl-3,.px-3 {
  padding-left: 1rem!important
}

.p-4 {
  padding: 1.5rem!important
}

.pt-4,.py-4 {
  padding-top: 1.5rem!important
}

.pr-4,.px-4 {
  padding-right: 1.5rem!important
}

.pb-4,.py-4 {
  padding-bottom: 1.5rem!important
}

.pl-4,.px-4 {
  padding-left: 1.5rem!important
}

.p-5 {
  padding: 3rem!important
}

.pt-5,.py-5 {
  padding-top: 3rem!important
}

.pr-5,.px-5 {
  padding-right: 3rem!important
}

.pb-5,.py-5 {
  padding-bottom: 3rem!important
}

.pl-5,.px-5 {
  padding-left: 3rem!important
}

.ico-color-warning {
  color: #FF9800;
}

/* page header */
header nav{
    background-color: white;
    color: white;
    border-bottom: 2px solid #10ac8e;
}

header nav a{
  color:#10ac8e;
  text-decoration: none;
  font-family: sans-serif;
}
header nav a:hover{
  color:#10ac8e;
}

/* survey form */
.swiper-container {
  width: 100%;
  border:1px soild red;
  margin-bottom:100px;
}

.s-progressbar{
  display:flex;
  height:10px;
  background:aquamarine;
  margin-bottom:20px;
}

.s-progress{
  width:20%;
  background-color: cornflowerblue;
}

fieldset {
  border: 1px solid #cfcfcf;
  border-radius: 30px;
}

fieldset input{
  margin:10px;
  height:16px;
}

fieldset label{
  margin-bottom:0px;
  display:flex;
  padding:5px;
}

fieldset.selected{
  border-color: #2196F3;
  background: aliceblue;
}

.s-yesnobtn{
  width: 100%;
  margin: 0;
  border-radius: 30px;
  border: 1px solid #2372b1;
}

.s-navbtns{ 
  position: fixed;
  bottom: 0px;
  box-shadow: 0px 0px 14px -1px #b6b6b6;
  background-color: #fff;
  width: 100%;
  padding: 8px 0px;
  z-index: 1; 
}

.s-navbtns button{ 
  margin:0;
  width:30%;
}
.s-navbtns > div {
  padding: 7px 14px;
}

.s-navbtns button:nth-last-child(1){
  float:right;
}

button.button-primary[disabled],
button.button-primary[disabled]:focus,
button.button-primary[disabled]:hover{
  background-color: gray;
  border-color:darkgray;
}

/* info card */
.s-infobox {
  border:1px solid black;
  border-radius:20px;
  padding:20px;
}

.s-infobox h6{
  font-weight: 900;
}

.s-infobox button{
  background-color: #000;
  color: white;
  margin-bottom: 0;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.s-infobox.s-infotype-notice{
  border-color:gray;
}

.s-infobox.s-infotype-safe {
  border-color: green;
  background-color: #ccffcf;
}

.s-infobox.s-infotype-danger {
  border-color:red;
  background-color: #ffd4d4;
}

