<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>{[meta.title]}</title>
    <meta name="keywords" content="{[meta.keywords]}" />
    <meta name="description" content="{[meta.description]}" />

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    {[#include.vendor.css]}
      <link rel="stylesheet" href="./include/vendor/{[& .]}?1" />
    {[/include.vendor.css]}

    {[#include.global.css]}
  		<link rel="stylesheet" href="./include/css/{[.]}?1" />
  	{[/include.global.css]}

  	{[#include.local.css]}
  		<link rel="stylesheet" href="./include/css/{[& name]}/{[.]}?1" />
  	{[/include.local.css]}

    {[#include.global.js]}
      <script src="./include/js/{[.]}?1"></script>
    {[/include.global.js]}

    {[#include.vendor.js]}
      <script src="./include/vendor/{[& .]}?1"></script>
    {[/include.vendor.js]}    

    {[#include.local.js]}
      <script src="./include/js/{[& name]}/{[.]}?1"></script>
    {[/include.local.js]}

  </head>
<body>
  <header>
    <nav>
      <div>
        <h4 class="container py-2"><a href="./"><img class="logo-image" src="./include/img/logo.png" alt="mcmc" style="width:50%;height:auto"/> &nbsp;
        <span style="white-space:nowrap;font-size:smaller">Self-Screening Questionnaire</span></a></h4>
      </div>
    </nav>
  </header>