<div id="app">
  <div class="container mt-4">
  
      <div class="s-infobox s-infotype-notice">
        <h6>COVID Self-Assessment</h6>
        <p>Take this survey to check if you are allowed to go to facility.</p>

        <div><i class="icofont-warning icofont-1x ico-color-warning"></i> Not completed today</div>
        <a href="./survey.html"><button>
          Take Survey
        </button></a>
      </div>

      <br/>
		<!--
      <div class="s-infobox s-infotype-safe">
        <h6>COVID Self-Assessment</h6>
        <p>Yor're good to enter work today.</p>

        <div><i class="icofont-ui-alarm icofont-1x"></i> Result expires: 01h 20m</div>
        <a href="./survey-result.html"><button>
          Open results
        </button></a>
      </div>

      <br/>

      <div class="s-infobox s-infotype-danger">
        <h6>COVID Self-Assessment</h6>
        <p>You should self-isolate and follow these guidlines.</p>

        <div><i class="icofont-ui-alarm icofont-1x"></i> Results expires: 01h 20m</div>
        <a href="./survey-result.html"><button>
          Take Survey
        </button></a>
      </div>-->

      <br/>

  </div>
</div>