<div id="app">
  <div class="container mt-4">
      
      <div class="s-resultpass">
        <h1><i class="icofont-check-circled"></i> PASS<h1>
      </div>

      <p class="text-center">You may enter the facility.</p>


      <div style="height:100px;"></div>
      <div class="text-center">Guest</div>
      <div class="text-center"><i class="icofont-calendar"></i> <span id="current-date"></span></div>
      <a href="./"><button>Done</button></a>
      
  </div>
</div>
<script>
function move() {

  var body = document.body;
  var width = 10;
  var id = setInterval(animate, 10);
  var d = new Date,
     dformat = [d.getMonth()+1,
               d.getDate(),
               d.getFullYear()].join('/')+' '+
              [d.getHours(),
               (d.getMinutes()<10?'0':'') + d.getMinutes()
            ].join(':');
  document.getElementById("current-date").innerHTML = dformat;


  function animate() {
    if (width == 100) {
      clearInterval(id);
    } else {
      width+=2;
      body.style.background = "radial-gradient(circle farthest-corner at center center, #76df7a 0%, #76df7a "+width+"%, #fff "+width+".1%, #fff 101%)";
    }
  }

}

move();
</script>