<div id="app">
  <div class="container mt-4">
  
      <h5>
        {{slide[slideprop.currentslide-1].heading}}
        <span class='u-pull-right'>{{ slideprop.currentslide }}/{{ slideprop.totalslide }}</span>
      </h5>

      <div class="s-progressbar"><span class="s-progress" :style="{ width: progressWidth + '%' }" ></span></div>
 
      <div class="swiper-container">
 
        <div class="swiper-wrapper" >

          <div class="swiper-slide" v-for="sv in slide" :key="sv.id"  >
            
            <h6 v-html="sv.question" ></h6>

            <template v-for="itv in sv.item" >
              
                <template v-if="itv.type == 'checkbox'">
                  <fieldset :key="itv.id" v-bind:class="{selected:itv.checked}">					
                    <label :for=itv.id ><input type="checkbox" :id=itv.id :name=itv.name v-model="itv.checked" v-on:change="resetLastCheckbox(itv.checked)"><span>{{itv.label}}</span></label>
                  </fieldset>
                </template>

                <template v-if="itv.type == 'checkbox_reset'">
                  <fieldset :key="itv.id" v-bind:class="{selected:itv.checked}">					
                    <label :for=itv.id ><input type="checkbox" :id=itv.id :name=itv.name v-model="itv.checked" v-on:change="resetOtherCheckbox(itv.checked)"><span>{{itv.label}}</span></label>
                  </fieldset>
                </template>

                <template v-else-if="itv.type == 'radio'" :key="itv.id"> 
                  <fieldset v-bind:class="{selected:itv.checked == 'Yes'}">					
                    <label :for="itv.id+'-1'" ><input type="radio" :id="itv.id+'-1'" :name=itv.name v-model="itv.checked" value="Yes" ><span>{{itv.label[0]}}</span></label>
                  </fieldset>
                  <fieldset v-bind:class="{selected:itv.checked == 'No'}">
                    <label :for="itv.id+'-2'" ><input type="radio" :id="itv.id+'-2'" :name=itv.name v-model="itv.checked" value="No" ><span>{{itv.label[1]}}</span></label>
                  </fieldset>
                </template>
             
            </template>

          </div>

        </div>

      </div>
  </div>

  <div class="s-navbtns">
    <div class="container">

      <button v-if="slideprop.currentslide > 1" v-on:click="prevpage" class="button button-primary" >Back</button>

      <button v-if="slideprop.currentslide < slideprop.totalslide" v-on:click="nextpage" class="button button-primary" :disabled='isNxtDisabled' >Next</button>

      <button v-else-if="slideprop.currentslide == slideprop.totalslide" class="button button-primary" v-on:click="validate" :disabled='isNxtDisabled'>Submit</button>

    </div>
  </div>

</div>