body {
  background-repeat: no-repeat;
  height: 100vh;
  color: green;
}
.s-resultpass {
  background: rgba(255, 255, 255, 0.6);
  color: green;
  border-radius: 25px;
  padding: 70px;
  text-align: center;
  margin-top: 15%;
  margin: 20px auto;
}
h1 {
  font-weight: bold;
  color: #4CAF50;
  margin: 0px;
}
.text-center {
  text-align: center;
}
button {
  background-color: #000;
  color: white;
  margin-bottom: 0;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}
button:hover {
  color: white;
}
